
streamlit
# Utilitites 
numpy
pandas
# # FACE RECOGNITION
scikit-learn
dlib-bin
git+https://github.com/topics/facial-recognition
setuptools<70.0.0






supabase
bcrypt



segno
pillow



librosa
resemblyzer 
